#nav-items {
    border-bottom: 1px solid white;
}

#hero-text {
    color: white;
    text-shadow: 2px 2px 10px black;
}

.decrotation-none {
    text-decoration: none;
}

#navbar-item li a {
    color: white;
    width: auto;
}

.navbar {
    padding: 13px 0px;
}

.icon {
    width: 20px;
    height: 20px;
}

.sosmed {
    bottom: 0;
    position: absolute;
    padding: 2rem 1.2rem;
    display: flex;
}

.w-300 {
    width: 300;
}

.z--1 {
    z-index: -99999;
}

#contributors {
    height: 100%;
    padding-bottom: 100px;
}

.hero-section {
  height: calc(100vh - 56px);
  padding-top: 100px;
  background-image: url(./calvin-dahne-WX9bvBTUzB4-unsplash.jpg);
  background-size: cover;
  background-attachment: fixed;
  min-height: 100%;
  background-position: center;
  display: block;
  height: 1000px;
}

#about {
    background-image: url(./robin-le-mee-yvKr1_36NQo-unsplash.jpg);
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    width: 100%;
    display: block;
    height: 1000px;
    
}

#about::after {
    content: '';
    display: block;
    position: absolute;
    height: 1000px;
    width: 100%;
    background: linear-gradient(0deg, rgba(1, 1, 3, 1) 3%, rgba(225,225,225,0) 25%);
}
  

.about-title {
    text-shadow: 2px 2px 20px black;
}

.rating {
    height: 1000px;
}

.about-description {
    text-shadow: 2px 2px 20px black;
    font-size: xx-large;

}

.rating-title {
    color: rgb(255, 255, 255);
    text-shadow: 2px 2px 10px rgb(255, 255, 255);
}

#Perfomance {
    height: calc(100vh - 56px);
    padding-top: 100px;
    display: block;
    padding-bottom: 80px;   
    padding-top: 210px;
    height: 2000px;
    background-color: black;
}
.performance-header {
    z-index: 999999;
}

.perfom-title {
    color: white;
    font-size: 4.5rem;
    text-shadow: 0px 0px 10px white;
}

.perfom-slogan {
    font-size:large;
    text-shadow: 0px 0px 10x red;
    opacity: 40%;
}

.perfom-icon {
    width: 80px;
    margin: 24px;
    margin-top: 60px;
    height: 80px;
}

.perfom-text {
    width: 50%;
    
}

.form-group {
    width: 300px;
}

.center {
    display: flex;
    justify-content: center;
    padding-top: 200px;
}
.card {
    background-color: #36393f;
    border-radius: 8px;
    margin-bottom: 20px;
    box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.3);
  }
.card-header {
    background-color: #40444b;
    border-bottom: none;
    border-radius: 8px 8px 0 0;
}
.card-header h5 {
    margin-bottom: 0;
    font-size: 20px;
    color: #fff;
}
.card-body {
    padding: 20px;
}
.card-text {
    font-size: 16px;
    color: #fff;
}
.card-footer {
    background-color: #40444b;
    border-top: none;
    border-radius: 0 0 8px 8px;
    text-align: center;
}
.card-footer a {
    color: #7289da;
}
#contributors {
    background-color: #2c2f33;
}

.card-contribut {
    margin: 15px;
    /* PR BUAT CONTRIBUTOR CARD FLEX DI LAPTOP DAN KECILKAN WIDTH !!! */
}

.cards-group {
    /* PR BUAT CONTRIBUTOR CARD FLEX DI LAPTOP DAN KECILKAN WIDTH !!! */
    width: 1500px;
    height: 250px;
}

.contributor-title {
    padding-top: 5rem;
    font-size: 40px;
    color: white;
    text-shadow: 0px 0px 20px rgb(255, 255, 255);
}

@media (min-width: 992px) {
    #about-description {
      font-size: 40px;
      padding: 0px 150px;
    }
    #Perfomance {
        padding-bottom: 300px;
    }

    .about-title {
        font-size: 60px;
    }

    .perfom {
        font-size: x-large;
        justify-content: center;
        margin: auto;
        right: 10%;
    }
    .perfom-icon{
        width: 200px;
        height: 200px;
    }
    .fomgroup-title {
        font-size: 3.5rem;
        font-weight: bold;
    }
    .fomgroup-desc {
        padding-top: 60px;
        
    } 
    .form-group {
        width: 400px;
    }

  }


  @media (max-width: 1400px) {
    .cards-group {

        height: 100%;
    }
  }
 
 

@media (max-width: 767px) {
    .about-description {
      font-size: 19px;
    }
    .perfom-title {
        font-size: 2rem;
    }
    .perfom-slogan {
        font-size: small;
    }
    .cards-group {
        height: 100%;
    }

  }
  